  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #10403B; margin-top: 100px;"

          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-center p-4"
             style="background-color: #127369;"
             >

        <!-- Left -->
        <div class="me-5" style="margin-right: 20px;">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
        <!-- Right -->


      </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Lighthouse Noodles</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #127369; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Food Categories</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #127369; height: 2px"
                />
            <p>
              <a href="/menu" class="text-white">Appetizers</a>
            </p>
            <p>
              <a href="/menu" class="text-white">Noodle Soup</a>
            </p>
            <p>
              <a href="/menu" class="text-white">Snacks</a>
            </p>
            <p>
              <a href="/menu" class="text-white">Drinks</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #127369; height: 2px"
                />
            <p>
              <a href="/" class="text-white">Home</a>
            </p>
            <p>
              <a href="/menu" class="text-white">Menu</a>
            </p>
            <p>
              <a href="/register" class="text-white">Register</a>
            </p>
            <p>
              <a href="/checkout" class="text-white">checkout</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #127369; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Toronto, ON 10012, CA</p>
            <p><i class="fas fa-envelope mr-3"></i> info@lighthousenoodles.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-4"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="#"
         >lighthousenoodles.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
