<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script defer src="/scripts/checkout.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <title>Home Page</title>
</head>

<body>
  <%- include('partials/_header'); %>

  <div class="main-checkout">

    <h1>Shopping carts</h1>
    <div id="cartCategories">
      <span>Product</span>
      <span>Size</span>
      <span>Quantity</span>
      <span> Total Price</span>
    </div>
    <div class="items-checkout"></div>
    <span id="subtotal"></span>
    <button id="submit-button">Order Now</button>

  </div>

</body>
</html>


