<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/confirmation.css" />
  <title>Confirmed!</title>
</head>
<body>
  <section class="showcase">

    <div class="overlay"></div>

    <div class="text">
      <h1 class="success-message">Success!</h1>
      <h3>Lighthouse Noodles Order Confirmed</h3>
      <h3>Thank you <span class="user-name"><%=user%></h3></span>
      <h3>Please check your phone for your order information</h3>
      <a href="/">Back home</a>
    </div>
    <video src="../videos/video.mp4" muted loop autoplay></video>
  </section>
</body>
</html>

