<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Bootstrap CSS -->
   <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
   crossorigin="anonymous"
 />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/homepage.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"     integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="     crossorigin="anonymous" referrerpolicy="no-referrer" />      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Lighthouse Noodles</title>
</head>
<body>
  <%- include('partials/_header'); %>

  <div class="header-home">
    <img src="../images/home-coverphoto.jpg" class="img-fluid" alt="...">
    <div class="header-content">
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p>
        <a href="/menu" class="button-52" role="button">Order Now</a>
    </div>
  </div>


  <div class="categories">
    <h3><i class="fa-solid fa-bowl-food"></i> Categories <i class="fa-solid fa-bowl-food"></i></h3>

    <div class="cards">

      <div class="card" style="width: 18rem;">
        <img src="../images/Appetizers.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/menu" class="btn" tabindex="-1" role="button" aria-disabled="true">Appetizers</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="../images/Noodle Soup.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/menu" class="btn" tabindex="-1" role="button" aria-disabled="true">Noodle Soup</a>
        </div>
      </div>

     <div class="card" style="width: 18rem;">
        <img src="../images/Snacks.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/menu" class="btn" tabindex="-1" role="button" aria-disabled="true">Snacks</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../images/Drinks.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/menu" class="btn" tabindex="-1" role="button" aria-disabled="true">Drinks</a>
        </div>
      </div>

    </div>


  </div>


  <section>
    <div class="section-1">

      <div class="box-1">
        <div class="column1">
          <img src="../images/photo1.jpg" class="img-fluid" alt="...">
        </div>
        <div class="column2">
          <img src="../images/photo2.jpg" class="img-fluid" alt="...">
        </div>
      </div>

      <div class="box-2">
        <h4>Our Menu</h4>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,
          sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua</p>
          <a href="/menu" class="button-52" role="button">OUR MENU</a>
      </div>
    </div>
  </section>





  <%- include('partials/_footer'); %>



<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>


</body>
</html>


