<!DOCTYPE html>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/nav.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/menu.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/menu.js"></script>
  <script defer src="/scripts/order.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"     integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="     crossorigin="anonymous" referrerpolicy="no-referrer" />      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Menu</title>
</head>
<body>

  <!-- need to import the header  -->
<p>insert header here </p>

<!-- !-- need to align row  -->
<div id="listExample" class="list-group" >
  <a class="list-group-item list-group-item-action" href="#apps">Appetizers</a>
  <a class="list-group-item list-group-item-action" href="#noods">House Special Noodle Soup</a>
  <a class="list-group-item list-group-item-action" href="#snacks">Snacks</a>
  <a class="list-group-item list-group-item-action" href="#drinks">Drinks</a>
</div>

<!-- need to put the specific category items into each section -->
<!-- need to figure out position relative styling  -->

<article id="menuItemsList">
  Menu Items
</article>

<div class="main-menu">
  <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
    <h1 id="apps">Appetizers</h1>
    <div class="d-flex flex-sm-row flex-wrap justify-content-around" id="appetizer-container"></div>
    <h4 id="noods">House Special Noodle Soup</h4>
    <div class="d-flex flex-sm-row flex-wrap justify-content-around" id="noodle-container"></div>
    <h4 id="snacks">Snacks</h4>
    <div class="d-flex flex-sm-row flex-wrap justify-content-around" id="snack-container"></div>
    <h4 id="drinks">Drinks</h4>
    <div class="d-flex flex-sm-row flex-wrap justify-content-around" id="drink-container"></div>
  </div>
</div>


<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<!-- https://getbootstrap.com/docs/5.0/components/offcanvas/ -->
<!-- off canvas = menupopup when clicked. need to have the css, js, and even listeners to use it.  -->



<!-- <script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script> -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>
</body>
</html>
