@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.header-home {
  background-size: cover;
  position: relative;
  text-align: center;

}

.header-content {
  text-align: center;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: large;

}

.header-content p {
  margin-bottom: 25px;
}

.categories {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #8AA6A3;
}

.categories h3 {
  text-align: center;
  margin-bottom: 2em;
  color: #10403B;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card {
  margin-left: 5px;
  margin-right: 5px;
  width: 18rem;

}

.btn {
  background-color: #8AA6A3;
  font-size: 15px;
}

.btn:hover {
  color: #ffffff;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}


section {
  display: flex;
  width: 100%;
  justify-content: center;

}

.section-1 {
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 6em;
  align-items: center;
}

.box-1 {
  display: flex;
  flex-direction: row;
}

.column1 {
  margin-left: 10px;

}

.column2 {
  margin-right: 10px;
  margin-left: 10px;
}

.box-2 {
  padding-right: 40px;
  width: 40%;
  text-align: justify;
  text-justify: inter-word;
}

.box-2 p {
  margin-bottom: 25px;
}



.button-52 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 16px 50px 16px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none !important;
  color: #4C5958;
  font-family: "Playfair Design";
}

.button-52:after {
  content: "";
  text-decoration: none !important;
  background-color: #8AA6A3;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  color: #4C5958;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  text-decoration: none !important;
  color: #4C5958 !important;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-content {
    text-align: center;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  .button-52 {
    padding: 13px 20px 13px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn {
    background-color: #8AA6A3;
    font-size: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-content {
    text-align: center;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 8px;
  }

  .button-52 {
    padding: 3px 5px 3px 5px;
  }

  section {
    display: flex;
    width: 100%;
    justify-content: center;

  }

  .section-1 {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .column1 {
    margin-left: 10px;

  }

  .column2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .box-2 {
    margin-top: 1em;
    padding-right: 10px;
    width: 95%;
    text-align: left;
    font-size: 13px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #8AA6A3;
  }

  .categories h3 {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    color: #10403B;
    text-transform: uppercase;
    font-size: medium;
  }

}

h1 {
  font-family: 'Playfair Display', sans-serif;
}

.nav-name {
  font-family: 'Playfair Display', sans-serif;
}
