@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;

}



listExample {

  position: relative;
}


.item img {
  max-width: 10rem;
  max-height: 10rem;
  padding-bottom: 20px;
}


.item {
  width: 270px;
  height: 400px;
  background: #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #10403B;

}

.btn {
  background-color: #4C5958;
  color: azure;
}

#appetizer-container {
  justify-content: flex-start;

}

.header-menu img {
  background-size: cover;

}

#items-container {
  margin: 0 2px;

}

#apps {
  margin-bottom: 3em;
  margin-top: 2em;
  border-bottom: 3px;
}

#noods {
  margin-bottom: 3em;
  margin-top: 2em;
}

#snacks {
  margin-bottom: 3em;
  margin-top: 2em;
}

#drinks {
  margin-bottom: 3em;
  margin-top: 2em;
}

.flex-column {
  background: #F2F2F2;
}

.p-3 {
  padding: 0 !important;

}


.nav-name {
  font-family: 'Playfair Display', sans-serif;
}

#apps-link {
  color: #10403B;
}

#apps-link:hover {
  color: #ffffff;
  background-color: #4C5958;
}

#noodle-link {
  color: #10403B;
}

#noodle-link:hover {
  color: #ffffff;
  background-color: #4C5958;
}

#snacks-link {
  color: #10403B;
}

#snacks-link:hover {
  color: #ffffff;
  background-color: #4C5958;
}

#drinks-link {
  color: #10403B;
}

#drinks-link:hover {
  color: #ffffff;
  background-color: #4C5958;
}

#navbar-example2 {
  font-family: 'Playfair Display', sans-serif;
  height: 80px;
}

.text-center {
  font-family: 'Playfair Display', sans-serif;
}

#cart-notification{
  position:fixed;
  bottom: 50px;
  right: 70px;
  display: inline-block;
  font-size: 1em;
  background: rgb(140, 73, 73);
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 1000;
}
