@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body{
  background: #F2F2F2;
  margin: 0;
  padding: 0;

}



listExample{

  position: relative;
}


.item img {
  max-width: 10rem;
  max-height: 10rem;
  padding-bottom:20px;
}


.item {
 width: 270px;
 height: 400px;
 background: #BFBFBF;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
 padding:2em;
 margin-bottom: 20px;
 margin-left: 5px;
 margin-right: 5px;
 color: #10403B;

}
.btn {
  background-color: #4C5958;
  color: azure;
}

#appetizer-container {
  justify-content: flex-start;

}

.header-menu img {
  background-size: cover;

}
#items-container {
  margin: 0 2px;

}
#apps {
margin-bottom: 4em;
}
#noods {
margin-bottom: 4em;
margin-top: 2em;
}
#snacks {
margin-bottom: 4em;
margin-top: 2em;
}
#drinks {
margin-bottom: 4em;
margin-top: 2em;
}

.flex-column {
  background: #F2F2F2;
}
.p-3 {
  padding: 0!important;

}

#nav-bar {
  position:fixed;
  right:0px;
  left:0px;
  z-index: 999;
  background: rgba( 79, 121, 226, 1 );
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  height: 80px;
  }
  .logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
  }

  #logo{
    width: 70px;
    height: 70px;
  }
@media only screen and (min-width: 320px) and (max-width: 768px) {

    #nav-bar {
      position:relative;
      right:0px;
      left:0px;
      z-index: 999;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      backdrop-filter: blur( 5.5px );
      -webkit-backdrop-filter: blur( 5.5px );
      height: 60px;
      }
      #navbarNav{
        background-color: #ffffff;
        padding-left: 20px;
        margin-top: 2px;
      }

      .logo{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 auto;
      }
      .logo p {
        font-size: small;
      }

      #logo{
        width: 50px;
        height: 50px;
        margin-top: -10px;
      }

}

.nav-name{
  font-family: 'Playfair Display', sans-serif;
}

#navbar-example2 {
  font-family: 'Playfair Display', sans-serif;
}

.text-center{
  font-family: 'Playfair Display', sans-serif;
}

#cart-notification{
  position:fixed;
  bottom: 50px;
  right: 70px;
  display: inline-block;
  font-size: 1em;
  background: rgb(140, 73, 73);
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 1000;
}
